<footer class="main-footer">
    <div class="footer-container">
        
        <a href="index.html" class="logo">
            <img src="images/icon.png" alt="AirNet Logo">
        </a>

        <div class="footer-info">
            <nav class="footer-nav">
                <a href="index.html">Головна</a>
                <a href="tariffs.html">Тарифи</a>
                <a href="installation.html">Проведення</a>
                <a href="news.html">Новини</a>
            </nav>
        </div>

        <div class="footer-contacts">
            <h4>Підтримка 24/7</h4>
            <p><span class="cont-pict">📞</span> 0 800 500 100</p>
            <p><span class="cont-pict">✉️</span> support@airnet.ua</p>
        </div>

    </div>
    <div class="footer-copyright">
        <p>&copy; 2026 AirNet. Усі права захищені.</p>
    </div>
</footer>