<header class="navbar">
    <a href="index.html" class="logo">
        <img src="images/icon.png" alt="AirNet Logo">
    </a>

    <nav class="nav-links">
        <strong>
            <a href="index.html">Головна</a>
            <a href="tariffs.html">Тарифи</a>
            <a href="installation.html">Проведення</a>
            <a href="news.html">Новини</a>
        </strong>
    </nav>

    <div class="header-actions">
        <button id="theme-toggle" class="theme-toggle-btn" aria-label="Перемикач теми">
            <span class="theme-icon">🌙</span>
        </button>

        <a href="login.html" class="btn-cabinet">Вхід/Реєстрація</a>

        <a href="#" class="log-out">
            <img src="images/logOut.png" alt="Вийти">
        </a>
    </div>
</header>